


<div id="welcome">
<div class="jumbotron">
  <h1>Welcome to Cocomexico !</h1>
 <p class="lead pull-right"><%= link_to 'Discover our cool cocktails', cocktails_path %> or <%= link_to 'check our ingredients', ingredients_path %></p>
</div>
</div>


